.Burger {
    width: 80%;
    height: 390px;
    margin: auto;
    text-align: center;
    overflow: scroll;
    font-weight: bold;
    font-size: 14px;
  }
  
  @media (min-width: 800px) and (min-height: 400px) {
    .Burger {
      width: 750px;
      height: 500px;
    }
  }
  @media (min-width: 1440px) and (min-height: 1024px) {
    .Burger {
      width: 700px;
      height: 500px;
    }
  }